## One Sample T-Test

In [1]:
ages = [10,15,12,15,23,26,24,25,42,58,32,12,54,25,65,24,52,58,21,65,12,32,14,26,25,15,16,14,18,34]

In [2]:
len(ages)

30

In [3]:
import numpy as np
age_mean = np.mean(ages)
age_mean

28.8

In [4]:
age_sample = np.random.choice(ages,10)
age_sample

array([15, 34, 10, 15, 23, 25, 25, 42, 58, 54])

In [5]:
from scipy.stats import ttest_1samp

In [6]:
ttest,p_value2 = ttest_1samp(a=age_sample,popmean=age_mean)

In [7]:
print(p_value2)

0.8095453701223922

In [8]:
print(ttest)

0.24820633233182363

In [9]:
if p_value2 < 0.05:
    print("reject null hypothesis")
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

## Two Sample T-test

In [10]:
import pandas as pd
import math
import scipy.stats as stats

In [11]:
np.random.seed(12)
classA_ages = stats.poisson.rvs(loc=18,mu=33,size=60)
classB_ages = stats.poisson.rvs(loc=18,mu=33,size=60)

In [12]:
classA_ages.mean()

50.63333333333333

In [13]:
classB_ages.mean()

50.083333333333336

In [14]:
tttest,p_value =stats.ttest_ind(a=classA_ages,b=classA_ages,equal_var=False)

In [15]:
if p_value < 0.05:
    print("reject null hypothesis")
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

## Corerlation

In [16]:
import seaborn as sns
df = sns.load_dataset('iris')

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
df.shape

(150, 5)

In [19]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [20]:
# sns.pairplot(df)

## Chi-Square Test

In [21]:
df1 = sns.load_dataset('tips')